# Generic entry point. This file is tracked and should not be edited.
#
# ./ghost-docker install writes this site's routes into caddy/sites/site.caddy,
# which is yours to edit afterwards. Add other sites as .caddy files in
# caddy/custom/, and global options (a DNS provider, an internal CA, ...) as
# .caddy files in caddy/global/. After changing any of them:
#
#   docker compose exec caddy caddy reload --config /etc/caddy/Caddyfile

{
	import /etc/caddy/global/*.caddy
}

import /etc/caddy/sites/*.caddy

import /etc/caddy/custom/*.caddy
